<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.jaspersoft.studio.book.editors.JRBookEditor"
            extensions="jrxml"
            default="false"
            icon="icons/sample.gif"
            id="com.jaspersoft.studio.book.editors.JRBookEditor"
            name="JasperReports Book Editor">
            <contentTypeBinding
                  contentTypeId="com.jaspersoft.studio.content-types.jrbook">
            </contentTypeBinding>
      </editor>
   </extension>
    <extension
          point="org.eclipse.core.contenttype.contentTypes">
       <content-type
             describer="com.jaspersoft.studio.book.editors.JRBookDescriber"
             file-extensions="jrxml"
             id="com.jaspersoft.studio.content-types.jrbook"
             name="JasperReports Book File"
             priority="low">
       </content-type>
    </extension>
    <extension
          point="com.jaspersoft.studio.templateProviderSupport">
       <templateProvider
             id="com.jaspersoft.studio.book.bundle.BookTemplateProvider"
             providerClass="com.jaspersoft.studio.book.bundle.BookTemplateProvider">
       </templateProvider>
    </extension>
</plugin>
